@use "src/app/styles/primary-palette";

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

* {
  font-family: "Source Code Pro", Verdana, Arial, serif;
}

a {
  color: primary-palette.$anchor;
  text-decoration: none;

  &:hover {
    color: primary-palette.$anchor;
    text-decoration: underline;
  }
}
